[paths]
source =
    src
    */site-packages

[run]
branch = True
source = validataclass
omit =
    */_version.py

[report]
show_missing = True
skip_empty = True
skip_covered = True
exclude_lines =
    pragma: no ?cover
    @abstractmethod
    @overload
    if TYPE_CHECKING:

[html]
directory = reports/coverage_html/
skip_covered = False
show_contexts = True
